@{
    ViewData["Title"] = "Privacy Policy";
}
  <div class="card text-center">

  <div class="card-body" id="CARD" style="width:100%;height:100vh;border:none">
    <h5 class="card-title">About us</h5>
    <p class="card-text">Mtronz software solution is a proficient and certified software development firm based in palakkad, India. We began our journey as a Software Development Company in 2017 by developing a customized application. We specialize in business improvement software projects and have the technical, business and project management expertise needed to execute projects. Mtronz is taking rapid strides in the software industry with more than 200 clients ranging from startup companies to multinationals and world-class enterprises all around the world and 12 employees to steer the ship..</p>
  
  </div>

</div>
