@model Carrier
@if(TempData["success"]!=null)
{
    <h2>@TempData["success"]</h2>
}


                   <form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Category</h2>
			<hr />
		</div>
	
        	<div class="mb-3">
			<label asp-for="FirstName"></label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>

        	<div class="mb-3">
			<label asp-for="LastName"></label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>

        	<div class="mb-3">
			<label asp-for="PhoneNumber"></label>
			<input asp-for="PhoneNumber" class="form-control" />
			<span asp-validation-for="PhoneNumber" class="text-danger"></span>
		</div>
		 
        	<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Qualification"></label>
			<input asp-for="Qualification" class="form-control" />
			<span asp-validation-for="Qualification" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
		<a asp-controller="Carrier" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
		<div asp-validation-summary="All" class="text-danger" ></div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}