
@{
    ViewData["Title"] = "Index";
}

<h1>Product</h1>

<table style="width:100%">

<tr>
    <td style="width:500px">FirstName</td>
      <td style="width:500px">LastName</td>
        <td style="width:500px">Country </td>
          <td style="width:500px">Subject</td>
           
</tr>

    <tr>
        <td style="width:300px">FirstName</td>
   <td style="width:300px">LastName</td>
    <td style="width:300px">Country</td>
    <td style="width:300px">Subject</td>
      <td><a asp-controller="Contact" asp-action="Create" asp-route-id="" >Create</a></td>
    </tr>





</table>
